<div class="preload">
    <div class="loader">
        <span class="message">loading</span>
        <div class="tape-container">
            <div class="tape"></div>
            <span class="tape-label">Refract</span>
        </div>
        <span class="preload-error">The tape's stuck for some reason, did you try turning it off and on?</span>
    </div>
</div>
<div class="container" id="app"></div>
