<div class="preload">
    <div>
        <h1>Refract</h1>
        <div class="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="app"></div>
